// {
//   "extends": ["airbnb", "prettier"],
//   "env": {
//     "jest": true
//   },
//   "globals": {
//     "document": true
//   },
//   "rules": {
//     "react/jsx-filename-extension": [
//       1,
//       {
//         "extensions": [".js"]
//       }
//     ],
//     "react/jsx-props-no-spreading": "off",
//     "react/prop-types": "off",
//     "jsx-a11y/click-events-have-key-events": "off",
//     "jsx-a11y/label-has-for": [
//       "error",
//       {
//         "required": {
//           "some": ["nesting", "id"]
//         }
//       }
//     ]
//   }
// }
