.button {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #61dafb;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-transform: lowercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: darken($color: #61dafb, $amount: 50);
  }
}

.buttonNav {
  @extend .button;
  margin: 20px 0;
  padding: 10px 20px;
}

@media (min-width: 768px) {

  .buttonNav {
    font-size: 1.2rem;
  }
}