.list {
  padding: 0 15px;
  margin: 0 auto;
  list-style: none;
}

@media (min-width: 768px) {

  .list {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {

  .list {
    max-width: 1140px;
  }
}