.item {
  box-shadow: 0 0 5px 0 darken($color: #282c34, $amount: 10);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.text {
  color: #d7e1f4;
  line-height: 2;
}

.image {
  max-width: 100%;
}

@media (min-width: 768px) {

  .image {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {

  .item {
    padding: 20px 50px;
  }

  .text {
    font-size: 1.2rem;
  }
}