.item {
  box-shadow: 0 0 5px 0 darken($color: #282c34, $amount: 10);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 0 auto 40px;
}

.text {
  color: #d7e1f4;
  line-height: 2;
}

.image {
  max-width: 100%;
}

.source {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 10px;
}

@media (min-width: 768px) {


  .image {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {

  .item {
    padding: 20px 50px;
  }
}