.hidden {
  display: none;
}

.error {
  background-color: #fc929e;
  border-radius: 10px;
  padding: 10px;
  margin: -10px 0 20px;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {

  .error {
    margin: -30px 0 20px;
  }
}
